*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/automotive/release/baselineProfiles/0/automotive-release.dm
/automotive/release/baselineProfiles/1/automotive-release.dm
/automotive/release/automotive-release.apk
/automotive/release/output-metadata.json
